body {
    font-family: 'Montserrat'; 
    margin: 0;
    width: 100%; 
    overflow-x: hidden; 
}

.logo-barbearia {
    width: 95px;         
}

.header {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navigating {
    margin: 0 auto;
}

.space {
    height: 60px;
}

a {
    border:none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    color: black;
}

.insta-icon {
    width: 35px;
    margin-right: 20px;
}

.barber-home {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 950px;
    width: 400px;
}

.text-home {
    font-size: 20px;
    margin-left: 200px;
    margin-top: -550px;
    width: 500px;
}

.agendamento-grup {
    display: flex;
    align-items: center;
    gap: 3px;
}

.arrow {
    width: 50px; 
    height: 50px; 
    background-color: #201f1f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrow img {
    width: 20px;
}

.agendar{
    height: 50px; 
    display: flex;
    margin-left: 200px;
    padding: 10px 60px;
    align-items: center;
    font-size: 20px;
    background-color: rgb(173, 106, 4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 20px;
}

.services-icons {
    position: absolute;
    right: 50px; 
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-icons > div {
    text-align: center;
    width: 150px;
}

.service-icon,
.services-icons > div > div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 5px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.scissor-icon,
.beard-icon {
    width: 40px;
    height: 40px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px 0 0 0; 
}

.description {
    font-size: 16px;
    color: black;
    margin: 0; 
}

.service-icon.cut {
    background-color: #ffb881;
}

.services-icons > div:nth-child(2) > div {
    background-color: #c4c4c4;
}

.best-prods {
    background-color: black;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 30px 40px; 
    width: 100%;
    margin-top: 179px;
    box-sizing: border-box;
}

.best-prods h2 {
    font-family: 'roboto';
    color: white;
    margin-left: 50px;
    font-size: 45px;
    text-align: left;
    display: flex;
    align-items: center;
}

.prod-list {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
    flex-shrink: 0; 
}

.card-prod{
    background-color: transparent;
    position:relative;
    border: solid #444;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    overflow: hidden;
    padding: 25px 80px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-prod:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-prod:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.card-prod img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    display:block
}

.card-prod p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent; 
    padding: 0; 
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold; 
}

.barbers h2 {
    text-align: center;
    font-family: 'roboto';
    font-size: 36px;
    margin-bottom: 20px;
}

.barbers-list {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
    flex-shrink: 0;
}

.barbers-card-1 {
    position: relative;
    background-color: black;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.barbers-card-2 {
    position: relative;
    background-color: #F9F3F0;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.barbers-card-3 {
    position: relative;
    background-color: black;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.name-bar {
    background-color: white;
    height: 60px;
    width: 200px; 
    margin-top: 25px;
    padding: 0px 10px 0px 20px;
    border-radius: 0 10px 10px 0; 
    margin-left: 0; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.barber-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0px; 
}

.barber-type {
    font-size: 16px;
    color: #000000;
    margin: 0; 
}

.barber-photo {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

.barber-button {
    position: absolute;
    bottom: 30px;  
    height: 60px;
    width: 399px;
    border-radius: 10px;
    background-color: #ad6a04; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 23px;
    text-decoration: bold;
}