.logo-barbearia {
    width: 95px; 
        
}

.header {
    padding: 10px 0;

    display: flex;

    justify-content: center;

    align-items: center;

    justify-content: space-between;

}

.navigating {
    margin: 0 auto;
}

.space {
    height: 60px;
}

a {
    border:none;

    cursor: pointer;

    font-size: 25px;

    font-family: sans-serif;
    
    text-decoration: none;

    padding: 5px;

    color: black;
}

.insta-icon {
    width: 35px;
    margin-right: 20px;
}

.barber-home {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 950px;
    width: 400px;
}

.text-home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -550px;
    width: 500px;
}

.agendar{
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px 60px;
    font-size: 20px;
    background-color: rgb(173, 106, 4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.services-icons {
    position: absolute;
    right: 50px; 
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-icons > div {
    text-align: center;
    width: 150px;
}

.service-icon,
.services-icons > div > div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 5px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.scissor-icon,
.beard-icon {
    width: 40px;
    height: 40px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px 0 0 0; 
}

.description,
.descripition {
    font-size: 16px;
    color: black;
    margin: 0; 
}

.service-icon.cut {
    background-color: #ffb881;
}

.services-icons > div:nth-child(2) > div {
    background-color: #e0e0e0;
}