body {
    font-family: 'Montserrat'; 
    margin: 0;
    width: 100%; 
    overflow-x: hidden; 
}

.logo-barbearia {
    width: 95px;         
}

.header {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navigating {
    margin: 0 auto;
}

.space {
    height: 60px;
}

a {
    border:none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    color: black;
}

.insta-icon {
    width: 35px;
    margin-right: 20px;
}

.barber-home {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 950px;
    width: 400px;
}

.text-home {
    font-size: 20px;
    margin-left: 200px;
    margin-top: -550px;
    width: 500px;
}

.agendamento-grup {
    display: flex;
    align-items: center;
    gap: 3px;
}

.arrow {
    width: 50px; 
    height: 50px; 
    background-color: #201f1f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrow img {
    width: 20px;
}

.agendar{
    height: 50px; 
    display: flex;
    margin-left: 200px;
    padding: 10px 60px;
    align-items: center;
    font-size: 20px;
    background-color: rgb(173, 106, 4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 20px;
}

.services-icons {
    position: absolute;
    right: 50px; 
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-icons > div {
    text-align: center;
    width: 150px;
}

.service-icon,
.services-icons > div > div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 5px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.scissor-icon,
.beard-icon {
    width: 40px;
    height: 40px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px 0 0 0; 
}

.description {
    font-size: 16px;
    color: black;
    margin: 0; 
}

.service-icon.cut {
    background-color: #ffb881;
}

.services-icons > div:nth-child(2) > div {
    background-color: #c4c4c4;
}

.best-prods {
    background-color: black;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 30px 40px; 
    width: 100%;
    margin-top: 179px;
    box-sizing: border-box;
}

.best-prods h2 {
    font-family: 'roboto';
    color: white;
    margin-left: 50px;
    font-size: 45px;
    text-align: left;
    display: flex;
    align-items: center;
}

.prod-list {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
    flex-shrink: 0; 
}

.card-prod{
    background-color: transparent;
    position:relative;
    border: solid #444;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    overflow: hidden;
    padding: 25px 80px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-prod:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-prod:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.card-prod img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    display:block
}

.card-prod p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent; 
    padding: 0; 
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: bold; 
}

.barbers h2 {
    text-align: center;
    font-family: 'roboto';
    font-size: 36px;
    margin-bottom: 20px;
}

.barbers-list {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
    flex-shrink: 0;
}

.barbers-card-1 {
    position: relative;
    background-color: black;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 220px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.barbers-card-2 {
    position: relative;
    background-color: #F9F3F0;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.barbers-card-3 {
    position: relative;
    background-color: black;
    width: 399px;
    height: 736px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.name-bar {
    background-color: white;
    height: 60px;
    width: 200px; 
    margin-top: 25px;
    padding: 0px 10px 0px 20px;
    border-radius: 0 10px 10px 0; 
    margin-left: 0; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.barber-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0px; 
}

.barber-type {
    font-size: 16px;
    color: #000000;
    margin: 0; 
}

.barber-photo {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

.barber-button {
    position: absolute;
    bottom: 30px;  
    height: 60px;
    width: 399px;
    border-radius: 10px;
    background-color: #ad6a04; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 23px;
    text-decoration: bold;
}

.barber-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.our-services {
    display: flex;
    background-color: #231F20;
    font-family: 'roboto';
    height: 900px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.comments {
    display: center;
    background-color: white;
    height: 500px;
    width: 600px;
    margin-top: 145px;
    margin-left: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.comments h2 {
    font-family: 'roboto';
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}

.comments-text {
    font-size: 27px;
    text-align: center;
    margin: 40px 50px 0 50px;
}

.info {
    display: flex;
    justify-content: flex-end;
    top: 20px; /* Distância do topo do cartão */
    right: 20px; /* Distância da direita do cartão */
    text-align: center;
    gap: 8px; /* Alinha o texto dentro do wrapper à direita */
    margin-bottom: 30px;
    margin-right: 55px;
}

.navigation-arrows {
    display: flex;
    gap: 15px;
    margin-top: 200px;
    margin-right: 200px;
}

.comments-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.comments-service {
    display: flex;
    font-size: 16px;
    align-items: center;
    margin: 0;
}

.virgula{
    display: flex;
    font-size: 20px;
    align-items: center;
}

.right-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 520px;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 480px;
    cursor: pointer;
    margin-top: 5px;
}

/* --- Estilos da Coluna de Serviços (.services) --- */
.services {
    /* Estilizando o container da lista de serviços */
    display: flex;
    flex-direction: column;
    margin-top: 145px; 
    color: white;
    width: 400px;
    margin-left: 150px; 
}

.services h2 {
    /* ... (Estilos do h2) ... */
    margin: 0; 
    font-family: 'roboto';
    font-size: 50px; 
    font-weight: bold;
    color: white;
    text-align: center; 
    margin-bottom: 40px;
    
}

/* --- Estilos do Item de Serviço Individual (.service-item) --- */
.service-item {
    /* CHAVE PARA O ALINHAMENTO: */
    display: flex; 
    justify-content: space-between; /* Empurra o .service-name para a esquerda e o .service-price para a direita */
    align-items: center; /* Alinha verticalmente no centro */
    
    padding: 10px 0;
    margin-bottom: 10px;
    
    /* Borda divisória Padrão (Cinza Escuro) */
    border-bottom: 1px solid #D9D9D9; 
}

.service-name {
    font-size: 20px;
    font-weight: normal;

}

.service-price {
    font-size: 24px; 
    font-weight: bold;
    color: #ad6a04;
     /* Cor laranja para o preço */
}

/* --- ESTILO ESPECÍFICO PARA O ÚLTIMO ITEM (BORDA LARANJA) --- */
.service-item.last-item { 
     border-bottom: 1px solid #D9D9D9; /* Borda inferior Laranja/Dourado */
}

/* --- Estilos do Link "Ver produtos" --- */
.view-products-link {
    font-family: 'roboto';
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
    color: #888; 
    text-decoration: none; 
    margin-left: 155px;
}

.view-products-link:hover {
    text-decoration: underline; 
}

.prod-title{
    text-align: center;
    font-size: 45px;
    font-family: 'roboto';
}

.most-selled{
    display: flex;
    align-items: center; 
    font-size: 25px;
    margin-left: 95px; 
    font-family: 'roboto'; 
}

.products-bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 30px;
    width: 100%; 
}

.prod-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-item-gel{
    margin-left: 150px;
    /* Ajuste o espaçamento entre o card e o nome */
    margin-top: 10px;
}

.title-item{
    text-align: left;
    /* Ajuste o espaçamento entre o card e o nome */
    margin-top: 10px;
}

.prod-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 300px;
    height: 340px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin: 0 0 0 150px;
}

.prod-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 300px;
    height: 340px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin: 0;
}

.prod-card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 300px;
    height: 340px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin: 0;
}

.prod-card-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 300px;
    height: 340px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin: 0;
}

.prod-card-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 300px;
    height: 340px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: transform 0.3s ease-in-out;
    margin-left: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
    margin: 0;
}
.image-prod-1{
    height: 260px;
}

.image-prod-2{
    height: 220px;
}

.image-prod-3{
    height: 200px;
}

.image-prod-4 {
    height: 200px;
}

.image-prod-5{
    height: 200px;
}

.prod-button{
    background-color: black;
    color: white; 
    padding: 17px 90px; 
    border-radius: 15px; 
    border: none; 
    text-decoration: none; 
    font-size: 1em; 
    font-weight: bold; 
    
    display: block; 
    width: fit-content; 
    margin-left: auto; /* Centraliza */
    margin-right: auto; /* Centraliza */
    margin-top: 150px;
    margin-bottom: 200px;
}



